.personal_office {
    height: 800%;
    min-height: 300px;
    width: 100%;
}
.container {

}
.main {
    display: flex;
}
.my_nav {
    width: 20%;
    background: coral;
}
.info_restoration {
    width: 80%;
}
