.header {
    height: 100px;
    width: 100%;
    display: flex;
    background: cadetblue;
    border-bottom: 1px solid;
}

.logo {
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.logo img {
    width: 100px;
    height: 100px;
}
.auth {
    display: flex;
    position: absolute;
    right: 10px;
    margin: 20px 5px 0 0;
    width: 250px;
    line-height: 25px;
}
.auth button {
    height: 40px;
    width: 100px;
    margin-left: 10px;
}
